<body>
  <div>

    <div class="containerSuperior">
      <img id="imagen_pokemon" src="../../assets/Images/Logo.png" alt="">
      <input [(ngModel)]="campoBusqueda" type="text" (input)="buscarPokemon()" class="input" id="search-input"
        placeholder="Buscar un pokémon">
      <div *ngIf="listaPokemonActualizada.length == 0">
        <h2>No se ha encontrado ningún pokémon con el nombre específicado</h2>
      </div>
    </div>


    <div *ngIf="listaPokemonActualizada.length > 0" class="container">
      <div *ngFor="let pokemon of listaPokemonActualizada" class="carta">
        <img *ngIf="pokemon.sprites.front_default != null" width="200px" src={{pokemon.sprites.front_default}}
          alt="Imagen Pokemon">
        <img *ngIf="pokemon.sprites.front_default == null" width="200px" src="../../assets/Images/Pokeball.jpg"
          alt="Imagen Pokemon">

        <div>
          <h5 class="statText" style="text-transform: capitalize;">{{pokemon.name}}</h5>
          <div [ngStyle]="{'background-color': tiposPokemonColores[pokemon.types[0].type.name]}" class="pokemon-type">
            {{pokemon.types[0].type.name}}</div>
          <div *ngIf="pokemon.types.length == 2"
            [ngStyle]="{'background-color': tiposPokemonColores[pokemon.types[1].type.name]}" class="pokemon-type">
            {{pokemon.types[1].type.name}}</div>
        </div>
        <div>
          <h5 class="statText">Altura: {{pokemon.height/10}} m</h5>
          <h5 class="statText">Peso: {{pokemon.weight/10}} kg</h5>
        </div>
        <div class="statsContainer">
          <h5 class="statText">Estadísticas</h5>
          <div class="statsPokemon" *ngFor="let stat of pokemon.stats" id="stat">
            <span>{{stat.stat.name}} = {{stat.base_stat}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>